@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Sorry!</h1>
<p>Please Sign In first!</p>


<script>

        setTimeout(function () {

            window.location.pathname = "/";

        }, 3000);

</script>