@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Reset Student Password</h1>

<form action="/Profile/StudentPassword" method="post">
    <div>
        <div>
            <h3>Student Account: </h3>
            <p><input type="text" name="studentAccount" /></p>
        </div>
        <div>
            <h3>New Password: </h3>
            <p><input type="password" name="newPassword" /></p>
        </div>
        @if (ViewBag.PasswordMessage != null)
        {
            <div>
                <p>ViewBag.PasswordMessage</p>
            </div>
        }
        <div>
            <p><input type="submit" value="PasswordChange" /></p>
        </div>
    </div>
</form>