
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>



<form action="/Login/form1" method="post">
    <div>
        <div>
            <h3>Username: </h3>
            <p><input type="text" name="txtuser" /></p>
        </div>
        <div>
            <h3>Password: </h3>
            <p><input type="password" name="pwpw" /></p>
        </div>
        @if (ViewBag.LoginError != null)
        {
    <div class="alert alert-warning">
        <strong>Oops!</strong> Username or Password is not correct! Please try again!
    </div>
        }
        <div>
            <p><input type="submit" value="Login" /></p>
        </div>
    </div>
</form>



