@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Lab Manager</h1>
    <div class="jumbotron">
        <h2 class="spinner-border">Developed By Zavier,Gemma,Sam and Yunfei</h2>
    </div>

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
