@model StudentLabManager.Models.TestSchedule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TestSchedule</h4>
<hr />
<div id="jseditor"></div>
<div class="row">
    <div class="col-md-4">
        
        
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <!--  <label asp-for="exam" class="control-label"></label>-->
                <input asp-for="exam" type="hidden" class="form-control" />
                @*<span asp-validation-for="exam" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <!-- <label asp-for="group" class="control-label"></label> -->
                <input asp-for="group" type="hidden" class="form-control" />
                @*<span asp-validation-for="group" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <!-- <label asp-for="duration" class="control-label"></label> -->
                <input asp-for="duration" type="hidden" class="form-control" />
                @*<span asp-validation-for="duration" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <!--   <label asp-for="schedule" class="control-label"></label> -->
                <input asp-for="schedule" type="hidden" class="form-control" />
                @*<span asp-validation-for="schedule" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

<script>
            // JSON EDITOR SETUP
            const schema = window.createschema("@ViewBag.classlist".split(', '))
            const options = {
                schema,
                disable_array_delete_all_rows: true,
                disable_collapse: true,
                disable_edit_json: true,
                disable_properties: true,
                array_controls_top: true,
                required_by_default: true,
                object_layout: 'grid',
                theme: "bootstrap4"
            }
            const jseditor = new window.JSONEditor(document.querySelector("#jseditor"), options)
            const groupInput = document.getElementById('group')
            const examInput = document.getElementById('exam')
            const durationInput = document.getElementById('duration')
            const scheduleInput = document.getElementById('schedule')
            jseditor.on('change', () => {
                const json = jseditor.getValue()
                groupInput.setAttribute('value', json.group)
                examInput.setAttribute('value', json.exam)
                durationInput.setAttribute('value', json.duration)
                scheduleInput.setAttribute('value', JSON.stringify(json.schedule))
            })
</script>
